body{
    background-color: firebrick;
}
html{
    scroll-behavior: smooth;
}
#marqueeStyle{
    font-family: calibri;
    background-color: darkred;
    color: white;
}
#myNavbar{
    position: sticky;
    top: 0;
    z-index: 99999;
}
h1{
    font-weight: lighter;
    color: white;
    font-family: calibri;
}
#home{
    background-color: firebrick;
    text-align: center;
}
#news{
    background-color: firebrick;
    text-align: center;
}
#events{
    background-color: firebrick;
    text-align: center;
}
#contact{
    background-color: firebrick;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: darkslategray;
    text-decoration: none;
}